body {
  word-wrap: break-word;
  background-color: #222;
  color: white;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 0;
  margin-top: 3vh;
}
a {
  display: inline-block;
  color: wheat;
  margin-right: 10px;
}
div,
input,
a {
  margin-top: 10px;
}
input {
  margin-right: 10px;
}
button {
  margin-top: 10px;
}
button.mButton {
  margin: 0 5px;
}
